<!DOCTYPE html>
<html>
<head>
  <title>Railsy React</title>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/foundation/5.3.1/css/foundation.min.css">
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="row">
  <div class="large-12 columns">
    <h2 id="hello"></h2>
    <%= yield %>
  </div>
</div>

<%= javascript_include_tag 'application' %>
</body>
</html>
